# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/broadcast/Playground.s.sol/
/broadcast/MultiDeposit.s.sol/
/broadcast/DeployOptionPricingLinear.s.sol/
/broadcast/DeployOptionPricingLinearV2.s.sol/
/broadcast/DeployOptionPricingLinearV2_1.s.sol/
/broadcast/*/80084/

# Docs
docs/

# Dotenv file
.env

# Flattened solidity files
flatten

# Playground foundry script
script/Playground.s.sol

# MacOS
.DS_Store

